---
  - name: Create a fortinet device
    hosts: "{{ pve_node }}"
    vars_files:
      - ../vars/global.yml
      - "{{ host_vars_file }}"
    become: true

    tasks:
      - name: Clone template, update cloud init vars 
        ansible.builtin.include_tasks:
          file: create-vm-conf.yml

      - name: Import FortiOS qcow2 to SCSI0  when ( Storage == local-lvm )
        ansible.builtin.include_tasks:
          file: storage_local-lvm_import-qcow2.yml
        when: 
          - proxmox_storage_name == 'local-lvm'

      - name: Import FortiOS qcow2 to SCSI0  when ( Storage == nas )
        ansible.builtin.include_tasks:
          file: storage_nas_import-qcow2.yml
        when: 
          - proxmox_storage_name != 'local-lvm'

      - name: Create Log disk as SCSI1       when ( storage == local-lvm ) 
        ansible.builtin.include_tasks:
          file: storage_local-lvm_create-disk.yml
        when: 
          - proxmox_storage_name == 'local-lvm'

      - name: Create Log disk as SCSI1       when ( storage == nas ) 
        ansible.builtin.include_tasks:
          file: storage_nas_create-disk.yml
        when: 
          - proxmox_storage_name != 'local-lvm'

      - name: Mount Bootstrap ISO when       when ( Storage == local-lvm  )
        ansible.builtin.include_tasks:
          file: storage_local-lvm_mount-iso.yml
        when: 
          - group_name != 'fmg'
          - group_name != 'faz'
          - proxmox_storage_name == 'local-lvm'

      - name: Mount Bootstrap ISO            when (  Storage == nas )
        ansible.builtin.include_tasks:
          file: storage_nas_mount-iso.yml
        when: 
          - group_name != 'fmg'
          - group_name != 'faz'
          - proxmox_storage_name != 'local-lvm'

      - name: Configure NICx to VNETs 
        ansible.builtin.include_tasks:
          file: set-vnets.yml

      - name: Set Boot Order 
        ansible.builtin.include_tasks:
          file: set-boot-order.yml 
