---
      - name: qm import a qcow2 file into VM 
        ansible.builtin.shell:
          cmd: "qm importdisk {{ item.vmid }} {{ proxmox_storage }}/import/{{ item.type }}-{{ image_name }}.qcow2 {{ proxmox_storage_name }} -format qcow2" 
        args:
          creates: "{{ proxmox_storage }}/images/{{ item.vmid }}/vm-{{ item.vmid }}-disk-0.qcow2" 
        register: vm_info
        loop: "{{ lookup('vars',  group_name)  }}"


      - name: Display register dynamic variable vm_info
        debug:
          msg: " {{ item.msg }}"
        loop: "{{ vm_info.results }}"


      - name: qm set (attach unused disk just created above)
        ansible.builtin.shell:
          cmd: "qm set {{ item.vmid }} --scsi0 {{ proxmox_storage_name }}:{{ item.vmid }}/vm-{{ item.vmid }}-disk-0.qcow2,iothread=True,backup=False"
        register: vm_info
        loop: "{{ lookup('vars',  group_name)  }}"


      - name: Display register dynamic variable vm_info
        debug:
          msg: " {{ item.msg }}"
        loop: "{{ vm_info.results }}"

