---
      - name: Set boot order for the new FortiGate VM 
        community.proxmox.proxmox_kvm:
          api_user: "{{ proxmox_api_user }}"
          api_token_id: "{{ proxmox_api_token_id }}"
          api_token_secret: "{{ proxmox_api_token_secret }}"
          api_host: "{{ proxmox_api_host }}"
          node: "{{ pve_node }}"
          vmid: "{{ item.vmid }}"
          name: "{{ item.name }}"
          boot: 'order=scsi0' 
          update: true
        register: vm_info
        loop: "{{ lookup('vars',  group_name)  }}"

      - name: Display register dynamic variable vm_info
        debug:
          msg: " {{ item.msg }}"
        loop: "{{ vm_info.results }}"

