---
  - name: Start or Stop VM  
    hosts: "{{ pve_node }}" 
    vars_files:
      - ../vars/global.yml
      - "{{ host_vars_file }}"
    tasks:
      - name: Start or Stop VM 
        community.proxmox.proxmox_kvm:
          api_user: "{{ proxmox_api_user }}"
          api_token_id: "{{ proxmox_api_token_id }}" 
          api_token_secret: "{{ proxmox_api_token_secret }}" 
          api_host: "{{ proxmox_api_host }}" 
          vmid: "{{ item.vmid }}" 
          node: "{{ pve_node }}" 
          state: "{{ start_stop }}" 
        register: vm_info
        loop: "{{ lookup('vars',  group_name)  }}"

      - name: Display register dynamic variable vm_info
        debug:
          msg: " {{ item.msg }}"
        loop: "{{ vm_info.results }}"

